{{!-- <div class="mt-5 container col-8">
  <div class="row mt-5">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row align-items-center">
            <i class="{{this.categoryId.image}}" style="color: #292b2e;"></i>
          <div class="col-md-4 d-flex flex-column">
            <div>{{this.name}}</div>
            <div>{{this.date}}</div>
          </div>
          <div class="col-md-3 text-end">
            {{{this.amount}}}
          </div>
          <div class="col-md-3 d-flex justify-content-center">
            <a href="/records/{{this._id}}/edit" class="btn btn-success mx-1">修改</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST" id="deleteForm-{{this._id}}">
              <button class="btn btn-danger mx-1 deleteButton" type="submit" data-id="{{this._id}}">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="mt-5 d-grid gap-2 col-4 mx-auto">
      <a href="/records/new" class="btn btn-primary">新增支出</a>
    </div>
  </div>
</div> --}}

<div class="mt-5 container col-8">
  <div class="row mt-5">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <i class="{{this.categoryId.image}}" style="color: #292b2e;"></i>
          </div>
          <div class="col-md-4 d-md-flex flex-md-column">
            <div class="font-weight-bold" style="font-size: 1.2rem;">{{this.name}}</div>
            <div>{{this.date}}</div>
          </div>
          <div class="col-md-3 text-md-end">
            {{{this.amount}}}
          </div>
          <div class="col-md-3 d-md-flex justify-content-md-center">
            <a href="/records/{{this._id}}/edit" class="btn btn-success mx-1">修改</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST" id="{{this._id}}">
              <button class="btn btn-danger mx-1 deleteButton" type="submit" data-id="{{this._id}}">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="mt-5 d-grid gap-2 col-4 mx-auto">
      <a href="/records/new" class="btn btn-primary">新增支出</a>
    </div>
  </div>
</div>


